@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: xxx-large;
    color: blue;
    font-weight: bold;
}
